---
import AccessBox from "@components/pages/home/components/AccessBox.astro";
---

<div class="container"><AccessBox /></div>

<style>
  .container {
    background: url("/images/home-background.webp") no-repeat center center
      fixed;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
