---
import HeroHeading from "./components/HeroHeading.astro";
import MostPopularActivities from "./components/MostPopularActivities.astro";
import SelectionDays from "./components/SelectionDays.astro";
---

<div class="container">
  <HeroHeading />
  <MostPopularActivities />
  <SelectionDays />
</div>
