---
import Common from "./Common.astro";
import Menu from "@components/ui/Menu.astro";
---

<Common>
  <Menu />
  <main>
    <slot />
  </main>
</Common>

<style>
  main {
    padding: 1rem 1rem 110px 1rem;
  }
</style>
